body{
    font-family: 'Cabin', sans-serif;
    background-color: #EEEEEF;
}
.header{
    width: 100%;
    height: 104px;
    background-color: #6D91DC;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
}
.wrapper{
    box-sizing: border-box;
    width: 1296px;
    margin: 0 auto;
}
.logo-basket{
    display: flex;
    gap: 8px;
    align-items: center;
}
.logo-name{
    color: #F8FDFE;
    font-family: Rochester, serif;
    font-size: 28px;
    font-weight: 400;

}
.price-basket{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    position: relative;
}
.value-basket{
    color: #F8FDFE;
    font-size: 6px;
    font-weight: 400;
    line-height: 8px;
    position: absolute;
    top: 11px;
    right: 13px;
}
.price-basket span{
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.flex-content{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-top: 16px;
}
.nav-menu{
    box-sizing: border-box;
    background-color: #FFF;
    height: 32px;
    padding: 4px 52px;
    color: #000;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.nav-list ul{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.flex-nav{
    justify-content: space-between;
    display: flex;
}
.btn-basket{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
}
.headline{
    color: #1F1F1F;
    font-size: 32px;
    font-weight: 600;
    line-height: 40px;
    margin-top: 136px;
    margin-bottom: 56px;
    padding-bottom: 23px;
    border-bottom: 1px solid #A8A8A8;
}
footer{
    height: 88px;
    background-color: #6D91DC;
    box-sizing: border-box;
    color: #F8FDFE;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.footer-flex{
    display: flex;
    padding-top: 32px;
    justify-content: space-between;
}
form{
    padding: 0 162px 121px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.form-header{
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}
.input-container{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.input-container label{
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-top: 16px;
}
.input-container input,.input-container textarea  {
    width: 416px;
    height: 44px;
    padding: 10px;
    align-items: flex-start;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    background: #F5F5F5;
    box-sizing: border-box;
}
.input-container input:hover ,
.input-container textarea:hover{
    border-radius: 4px;
    border: 1px solid #2080F6;
    background: #F5F5F5;
}
.input-container input:focus ,
.input-container textarea:focus,
.date input:focus{
    border-radius: 4px;
    border: 1px solid #2080F6;
    background: #F5F5F5;
    outline: none;
    box-shadow: 0px 0px 0px 3px rgba(36, 100, 241, 0.15);
}
.input-container.text-address.for-margin label{
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    margin-top: 32px;
}
.for-margin{
    margin-top: 32px;
}
.input-container textarea{
    width: 416px;
    height: 104px;
    box-sizing: border-box;
    resize: none;
    font-family: 'Cabin', sans-serif;
}
input::-webkit-calendar-picker-indicator {
    opacity: 0;
}
.date label{
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-right: 19px;
}
.date input{
    width: 115px;
    padding: 2px 8px;
    align-items: center;
    border-radius: 4px;
    border: 1px solid #8E8E8E;
    box-sizing: border-box;
}
.paragraph{
    color: #8E8E8E;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 24px;
}
.radios input{
    width: 16px;
    height: 16px;
    flex-shrink: 0;
}
.radios label{
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.radios-container{
    display: flex;
    gap: 16px;
    flex-direction: column;
    align-items: start;
}
.payment-method {
    margin-bottom: 8px;
}

.order{
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 4px;
    background: #F5F5F5;
    width: 526px;
    height: 456px;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    right: 110px;
}
.photo-price{
    display: flex;
    flex-direction: row;
    gap: 24px;
}
.name-order{
    box-sizing: border-box;
    width: 192px;
    display: flex;
    flex-direction: column;
}
.name-order span{
    color: #1F1F1F;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.name-order .grey-span{
    border-top: solid  1px #A8A8A8;
    color: #8E8E8E;
    text-overflow: ellipsis;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}
.amount{
    justify-items: center;
    box-sizing: border-box;
    width: 53px;
    height: 32px;
    display: flex;
    padding: 4px 8px;
    align-items: flex-start;
    gap: 8px;
    border-radius: 4px;
    margin-top: 8px;
}

.price-order {
    color: #E90000;
    font-size: 24px;
    font-weight: 500;
    line-height: 32px;
}
section{
    display: flex;
    flex-direction: row;
    gap: 32px;
}
.total{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #8E8E8E;
    padding-top: 8px;
    margin-top: 24px;
}
.submit{
    width: 100%;
}

.btn-container{
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn{
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    background: #3D76BA;
    border: none;
    color: #FFFFFF;
}
.btn:hover{
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    background: #63A1EB;
}

.btn-reset {
    display: flex;
    width: 215px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    border: none;
    color: black;
    background: #DEDEDE;
}
.btn-reset:hover{
    background: #EEE;
}
main {
    display: flex;
    flex-direction: row;
}
.for-all-flex{
    display: flex;

}



